.small {
  font-size: 0.9rem;
}

.agree > div {
  font-size: 1rem;
  color: gray;
}

.agreeLink {
  font-size: 0.9rem;
  color: rgb(158, 158, 158);
  transition-duration: 1s;
}

.agreeLink:hover {
  color: rgba(0, 0, 0, 0.9);
}
